{% extends 'layout.html' %}
{% block body %}
<form class="" action="/add_task" method="post">
  <input type="text" name="task_name" placeholder="Type your task..."value="">
  <button type="submit" name="Add">Add</button>
</form>
<form action="/edit_task" method="post">
  <ol>
    {% for task in tasks %}
      {% if task.complete == True %}
        <li class="strike"> {{ task.name }} - <input type="checkbox" name="{{task.id}}"> </li>
      {% else %}
        <li> {{ task.name }} - <input type="checkbox" name="{{task.id}}"> </li>
      {% endif %}
    {% endfor %}
  </ol>
  <button type="submit" name="Complete">Complete</button>
  <button type="submit" name="Delete">Delete</button>
</form>
{% endblock %}
